@import "../utilities/variables";

.consultoria {

    background-image: url("../imagenes/Fondo.jpg");
    background-size: cover;
    background-position: center center;
    height: 170px;
    background-repeat: no-repeat;
    padding: 10px;
    margin-bottom: 10px
    ;
    h2 {
        font-style: italic;
      }
      
  }
  
  section {
    a{
    list-style: none;
    text-decoration: none;
    color: black;
  }
}
  
  

.contenedores-contenido {
    display: flex;
    justify-content: center;
  margin: 10px;
  

    h3{
        background-color:#C9D6EA ;
        text-decoration: solid;
        padding: 10px;

    }
    p{
        align-items: center;
       }
}

.nosotrosIndex{
    text-align: center;
        margin-bottom: 4rem;
        h3{
            height: 10%;
            text-align: center;
            font-size: 30px;
            text-decoration: solid;  
            background-color:#C9D6EA ;
          }   
    }
    
.tarjetas {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        img{
          width: 100%;
          height: 70%;
          
        }
         p{
          padding:12px ;
        font-style: italic;
        }   
    }