@import "../utilities/variables";
/* CONTACTO */

.contacto {
    display: flex;
    background-color: $backgroundcolor;
    background-image: url("../imagenes/Fondo.jpg");
    background-size: cover;
    background-position: center center;
    height: 40%;
    background-repeat: no-repeat;
    padding: 10px;
    ;
  
 h1{
    font-size: 5rem;
  padding-top: 2rem;
  }
 h2{
    font-style: italic;
    font-size: 2rem;
    padding-top: 2rem;
  }
  
 h3{
    font-size: 30px;
    padding-top: 2rem;
  }

}

  .form h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: #2F4550 solid 2px;
    padding: 10px;
  }
  
  .formulario {
    margin: 10px;
    text-align: center;
  color: black;
  font-weight:bolder;
  font-style: italic;
  padding: 10px;
  border-bottom: #2F4550 solid 2px;
  }
  
  .mapa{
    display: flex;
    margin: 10px;
  bottom: 20px;
  left: 20px;
  justify-content: center;
  }
  
  