@import "../utilities/variables";
/* CURSOS */

.IntroCursos {
  background-image: url(../imagenes/Fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  padding: 5px;
  border-bottom: 1px solid black;
  h1 {
    text-decoration: solid;
    padding: 5px;
    align-items: center;

    color: #2F4550;
    align-items: center;
    margin: 50px;
    font-size: 70px;

  }}

  .CopeteCursos{
width: 85%;
  h2{
    text-decoration: solid;
    color: #2F4550;
    margin: 40px;
    font-size: 30px;

  }

  h3{
    text-decoration: solid;
    border-bottom: 1px solid black;
    color: #2F4550;
    margin: 15px;
    padding: 30px;
    font-size: 40px;

  }

}