@import "../utilities/variables";

.seccion_empresas {
  border-bottom: #333 solid 2px;

  h1 {
    align-items: center;
    margin: 10px;
    padding: 30px;
    font-size: 50px;
    background-image: url(../imagenes/Fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  p {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    margin: 30px;

  }

  h2 {
    align-items: center;
    padding: 10px;

  }
}

.confiaron h5 {
  justify-content: center;
  display: flex;
  padding: 10px;
  font-size: 35px;
}

.card-group {
  display: flex;
  height: 190px;
  width: 300px;

  h5 {

    font-size: 15px;
  }

}

.card {
  justify-content: space-around;
}