@import "../utilities/variables";
/* FOOTER */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 100px;
    text-align: center;

    a {
        color: #fff;
        text-decoration: none;
        margin-right: 15px;
    }

    &:hover {
        color: #007bff;
    }

    p {
        font-style: italic;
    }
}